@import 'var';

form {
  input {
    font-size: 25px;
    text-align: center;

    display: block;
    margin: 15px auto;

    font-family: $normal-font;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    outline: none !important;
    border: 2px solid $light-red;
    border-radius: 3px;

    &[type=text] {
      width: 50%;
      padding: 5px 0;

      color: $light-grey;
      border: 2px solid $medium-grey;

      background-color: transparent;

      @media screen and (max-width: 700px) {
        width: 75%;
      }

      @media screen and (max-width: 450px) {
        width: 100%;
      }
    }

    &[type=submit] {
      cursor: pointer;

      padding: 5px 20px;

      background-color: transparent;

      -webkit-transition: linear color 200ms, linear background-color 200ms;
      -moz-transition: linear color 200ms, linear background-color 200ms;
      -ms-transition: linear color 200ms, linear background-color 200ms;
      -o-transition: linear color 200ms, linear background-color 200ms;
      transition: linear color 200ms, linear background-color 200ms;

      font-size: 20px;
      color: $light-red;
      font-family: $headline-font;

      &:hover {
        background-color: $light-red;
        color: $darker-grey;
      }
    }
  }
}