$light-red: #e64b4b;
$dark-red: #8c0000;

$light-grey: #8e8e8e;
$medium-grey: #545454;
$dark-grey: #383838;
$darker-grey: #2f2f2f;

$headline-font: 'VT323', monospace;
$normal-font: 'Quicksand', sans-serif;