@import 'var';
@import 'forms';

* {
  box-sizing: border-box;
}

body {
  max-width: 850px;
  width: 100%;

  margin: 0 auto;
  padding: 20px;

  background-color: $darker-grey;

  color: $light-grey;
  font-family: $normal-font;

  @for $i from 1 to 4 {
    h#{$i} {
      color: $light-red;
      text-align: center;
      font-family: $headline-font;
      text-shadow: 2px 2px 0 $dark-red;

      margin-top: 0;

      -webkit-user-select: none !important;
      -moz-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important;

      cursor: default;
    }
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  span, p, tr, a, b {
    text-align: center;

    font-family: $normal-font;
    color: $light-grey;

    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;

    cursor: default;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: $medium-grey;

    &.center {
      display: table;
      margin: 0 auto;
    }

    &:hover {
      color: $light-grey;
    }
  }

  img {
    max-width: 100%;
  }

  hr {
    border: none;
    border-top: 1px solid $medium-grey;
    margin: 40px 0;
  }

  dl {
    color: $light-grey;
    font-family: $normal-font;

    dt {
      font-weight: bold;
    }

    dd {
      dl {
        margin-top: 5px;
      }
    }
  }

  #header-image {
    margin-bottom: 30px;

    @media screen and (max-width: 700px) {
      width: 50%;
      display: block;
      margin: 0 auto;
    }
  }

  #find-servers-form {
    margin-bottom: 50px;
  }

  .data-list {
    border: 1px solid $medium-grey;
    border-radius: 3px;

    padding: 15px;
    margin-top: 15px;

    width: 100%;

    background-color: $dark-grey;

    box-shadow: 0 0 5px rgba(0,0,0, .5);

    .data {
      border-top: 1px solid $medium-grey;

      padding: 15px;
      margin-top: 15px;

      width: 100%;
      word-break: break-all;

      @media screen and (max-width: 500px) {
        tr {
          display: block;
          margin: 10px 0;

          td {
            display: block;
          }
        }
      }

      td {
        color: $light-grey;
        min-width: 150px;
        padding: 5px 0;
        vertical-align: top;
        text-align: left;

        &:first-child:not(:empty) {
          font-weight: bold;
          color: $light-grey;

          &::after {
            content: ':';
          }
        }
      }
    }
  }
}