<a class="center" href="/">Go back</a>

<h2>API Documentation</h2>

{% for version, calls in registry %}
    <div class="data-list">

        <h2>Version {{ version }}</h2>
        {% for call, info in calls %}
        <div class="data">
            <dl class="api-call-title">
                <dt>{{ call }}</dt>
                <dd>{{ info.description }}</dd>
            </dl>

            <dl>
                <dt>URL</dt>
                <dd>/api/{{ version }}/{{ call }}</dd>
            </dl>

            <dl class="api-params-container">
                <dt>Parameters</dt>

                <dd>
                    {% for param, param_desc in info.params %}
                    <dl>
                        <dt>{{ param }}</dt>
                        <dd>{{ param_desc }}</dd>
                    </dl>
                    {% endfor %}
                </dd>
            </dl>
        </div>
        {% endfor %}
    </div>
{% endfor %}
