<a class="center" href="/api/docs">Check out our API</a>

<form id="find-servers-form" action="/services" method="get">
    <input type="text" name="host" placeholder="Enter IP or hostname" autocomplete="off" required/>
    <input type="submit" value="Find servers"/>
</form>