<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#e85656">
    <meta name="theme-color" content="#ffffff">

    <title>Services at host</title>

    {% for file in JS %}
        <script defer src="{{ file }}"></script>
    {% endfor %}
</head>
<body>
    <picture>
        <source media="(max-width: 700px)" srcset="/img/Logo.png">
        <source srcset="/img/Header.png">
        <img id="header-image" src="/img/Logo.png" alt="">
    </picture>

    {% if content %}
        {% if content is iterable %}
            {% for c in content %}
                {{ c|raw }}

                {% if c != loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        {% else %}
            {{ content|raw }}
        {% endif %}
    {% endif %}
</body>
</html>
{% for file in CSS %}
    <link href="{{ file }}" rel="stylesheet"/>
{% endfor %}
