{% if results|length == 0 %}
    <h2>No services found at '{{ host }}'{% if host != ip %} ({{ ip }}){% endif %}</h2>
{% else %}
    <h2>Services found at '{{ host }}'{% if host != ip %} ({{ ip }}){% endif %}</h2>

    {% for result in results %}
        <div class="data-list">
            <h2>{{ result.title }}</h2>

            {% for instance in result.instances %}
                <table class="data">

                    {% for key, value in instance %}
                        <tr>
                            <td>{% if key matches '/^\\d+$/' %}{% else %}{{ key }}{% endif %}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}